<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Spring Boot Tutorial</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div>
	<p><a href="/">Home</a> - <a href="/user">Users</a> - <a href="/authority">Authorities</a> - <a href="/oauth2/authorization/client">Login</a></p>
		<h1>Spring Boot Tutorial</h1>
		<h2>Home</h2>
		<p class="center">Willy De Keyser</p>
	</div>
</body>
</html>