<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Spring Boot Tutorial</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:fragment="navbar">
<nav class="navbar">
	<h1 class="logo">Spring Boot Tutorial</h1>
	<ul class="nav-links">
    	<li class="nav-item"><a href="/">Home</a></li>
    	<li sec:authorize="isAuthenticated()" class="nav-item"><a href="/user">Users</a></li>
    	<li sec:authorize="isAuthenticated()" class="nav-item"><a href="/createuser">New User</a></li>
    	<li sec:authorize="isAuthenticated()" class="nav-item"><a href="/authority">Authorities</a></li>
    	<li sec:authorize="!isAuthenticated()" class="nav-item"><a href="/oauth2/authorization/client">Login</a></li>
    	<li sec:authorize="isAuthenticated()" class="nav-item">
    		<form class="link" th:action="@{/logout}" method="post">
    			<input class="link" type="submit" value="Logout"/>
    		</form>
    	</li>
    </ul>
</nav>
</div>
<div th:fragment="footer">
	<p class="center">&#169; Willy De Keyser 2023</p>
</div>
</body>
</html>