<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Spring Boot Tutorial</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div>
	<div th:replace="~{templates :: navbar}"></div>
	<div class="main">
		<h1>Spring Boot Tutorial</h1>
	</div>
	<div class="text">
		<h2>Users</h2>
		<div th:each="user: ${users}">
			<p class="tab">
				<a class="user-link" th:href="@{/user/{username}(username=${user.username})}" th:text="${user.username}"></a>
				<a class="update"  th:href="@{/updateuser/{username}(username=${user.username})}" th:text="Update"></a>
				<a class="delete"  th:href="@{/deleteuser/{username}(username=${user.username})}" th:text="Delete"></a>
			</p>
		</div>
	</div>
	<div th:replace="~{templates :: footer}"></div>
	</div>
</body>
</html>